changes.txt
features.dot
features.png
.venv
**/__pycache__/
.DS_Store
**/*.py[cod]
/manager/__pycache__
/manager/commands/__pycache__
/manager/ui/__pycache__
user.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/
user.env
user.txt
.DS_Store